HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# 환경변수 파일 (DB 비밀번호 등 민감한 정보)
.env

# 빌드 결과물
out/

# IntelliJ 설정 파일
.idea/
*.iml

# Gradle
.gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Spring Boot Settings ###
src/main/resources/application.yaml

washing.txt

/wahsing_machine/